.todo-count-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.todo-count {
  background-color: #1e1e1e;
  color: white;
  padding: 4px 12px;
  border-radius: 4px;
}

.todo-count-container .todo-refresh-button {
  padding: 0;
  line-height: 0;
  padding: 8px;
}

.todo-count-container .todo-refresh-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}